<style>
    thead {
        font-weight: bold;
    }
    .paginator ul li {
        display: inline; 
        border: 1px solid #000; 
        padding: 3px;
    }
    .paginator a.disabled {
        pointer-events: none;
        cursor: default; 
        color: #888;
    }
    .mr-2 {
        margin-right: 0.8rem;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        word-wrap: break-word; 
        max-width: 100%;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 2px;
    }
    .mt-2 {
        margin-top: 0.8rem;
    }
    .statistic {
        margin-top: 1.6rem;
    }
    .mw-100 {
        max-width: 100%;
    }
    .w-100 {
        width: 100%
    }
    .filter {
        width: 30%;
    }
    .filter input {
        width: 75%;
    }
    .filter label {
        width: 25%;
    }
    .filter select {
        width: 75%
    }
    .products {
        overflow-x: auto;
        max-width: 100%;
    }
    @media (max-width:600px) {
        body {
            font-size: 0.8em;
        }
        .filter {
            padding: 2px;
            width: 100%;
        }
    }


</style>